Library
Temp
*.pidb
*.unityproj
*.sln
*.userprefs

.DS_Store
Thumbs.db
tags

/Unity/Assets/Resources/Setting.txt
/Unity/Assets/Resources/Setting.txt.meta

/Unity/Project.userprefs
/Unity/Assembly-CSharp.csproj
/Unity/Assembly-CSharp.pidb
/Unity/Assembly-CSharp-Editor.csproj
/Unity/Assembly-CSharp-Editor.pidb
/Unity/Assembly-CSharp-Editor-vs.csproj
/Unity/Assembly-CSharp-firstpass.csproj
/Unity/Assembly-CSharp-firstpass.pidb
/Unity/Assembly-CSharp-firstpass-vs.csproj
/Unity/Assembly-CSharp-vs.csproj
/Unity/Assembly-UnityScript-firstpass.pidb
/Unity/Assembly-UnityScript-firstpass.unityproj
/Unity/Assembly-UnityScript-firstpass-vs.unityproj
/Unity/Project.suo
